@import "font.css";
@import "recipeList.css";
@import "buttons.css";
@import "recipe.css";
@import "ingredientList.css";
@import "recipeEdit";

*,
*::before,
*::after {
	font-family: Lato, "Times New Roman";
	box-sizing: border-box;
}

.mr-1 {
	margin-right: 5px;
}
