* {
	padding: 0;

	box-sizing: border-box;
}

body {
	background-color: #9575cd;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	line-height: 1.6;
}

h1 {
	font-size: 45px;
	color: #fff;
}

h2 {
	font-weight: 100;
}

.canvasDisplay {
	margin: 70px 0;
	background: #9575cd;
	display: block;
	border-radius: 5px;
	border: 1px solid #512da8;
}

.btn {
	cursor: pointer;
	border: 0;
	padding: 10px 20px;
	background: #000;
	color: #fff;
	border-radius: 5px;
}

.btn:focus {
	outline: 0;
}

.btn:hover {
	background: #222;
}

.btn:active {
	transform: scale(0.98);
}

.rules-btn {
	position: absolute;
	top: 20px;
	left: 20px;
}

.rules {
	position: absolute;
	top: 0;
	left: 0;
	background: #512da8;
	color: #fff;
	min-height: 100vh;
	width: 320px;
	padding: 20px;
	line-height: 1.5;
	transform: translateX(-320px);
	transition: transform 0.3s ease-in-out;
}

.rules.show {
	transform: translateX(0);
}
