:root {
	--main-color: #c2185b;
}

.circle {
	background-color: #212121;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.gradient-circle {
	background: conic-gradient(
		#f06292 35%,
		#f8bbd0 40%,
		#f8bbd0 60%,
		#d81b60 65%,
		#d81b60 95%,
		#f06292 100%
	);

	height: 320px;
	width: 320px;
	z-index: -2;
	border-radius: 50%;
	position: absolute;
}
