.orbiter {
	background-color: #212121;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	display: block;
}

.orbiter-container {
	position: absolute;
	top: -40px;
	left: 140px;
	width: 20px;
	height: 190px;
	animation: rotate 7.5s linear forwards infinite;
	transform-origin: bottom center;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
